# ========================
# Java / Maven
# ========================
target/
*.class
*.jar
*.war
*.ear
*.log

# ========================
# Spring Boot
# ========================
application-dev.yml
application-prod.yml

# ========================
# Docker
# ========================
.env
docker-data/
**/docker-data/
uploads/

# ========================
# IDEs
# ========================
.idea/
.vscode/
*.iml

# ========================
# Sistema
# ========================
.DS_Store
Thumbs.db

# ========================
# Node / Frontend (futuro)
# ========================
node_modules/

# ========================
# Segurança
# ========================
*.pem
*.key
*.crt
