spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/atelie
    username: atelie
    password: atelie
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
