@import "tailwindcss";

:root {
    --azul-profundo: #0f2A44;
    --branco-off-white: #F7F7F4;
    --dourado-suave: #C9A24D;
    --verde-musgo: #3EDF4B;
    --marron-terra: #5A3E2B;

    --main-font: 'Playfair Display', serif;
    --secondary-font: Lato, Montserrat, sans-serif;
}